
<div class="main main-page">
  <div class="container">
    <div class="row">
      <!-- only displays chores if the user is in a group -->
      <% if current_group_id %>
        <div class="col-md-5 col-md-offset-1">
          <ul class="chore_list">
          <h3 style="text-decoration: underline;">To-do:</h3>
          <% @chores.each do |chore| %>

            <!-- if the chore is not assigned to a user, allow the user take responsibility for it -->
            <% if !chore.user_id %>
              <div>
                <li>
                  <div class="inline-block">
                    <%= erb :"/main/partials/_add_comment_to_chore_incomplete", locals: {chore: chore} %>
                  </div class="inline-block">

                  <form class="inline-block" method="post" action="/chore/add/<%= chore.id %>">
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="btn" id="got_this">i got this!</button>
                  </form>
                </li>
              </div>

            <!-- if current user is responsible for the chore they have the option of declaring it finished -->
            <% elsif chore.user_id == current_user.id %>
              <div>
                  <li>
                    <div class="inline-block">
                      <%= erb :"/main/partials/_add_comment_to_chore_in_progress", locals: {chore: chore} %>
                    </div>
                    <form class="inline-block" method="post" action="/chore/complete/<%= chore.id %>">
                      <input type="hidden" name="_method" value="PUT">
                      <button type="submit" class="btn" id="got_this">done!</button>
                    </form>
                    
                    <p><span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="color: #ffc04c;"></span>&nbsp;
                    I am doing this!</p>
                  </li>
              </div>


            <!-- if chore is assigned to another user, display which user has responsibility over it -->
            <% else %>
              <li>
                <%= erb :"/main/partials/_add_comment_to_chore_in_progress", locals: {chore: chore} %>

                <p><span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #ffc04c;"></span>&nbsp;
                <a style="color: #333a4b;" href="/user/<%= chore.user_id %>"><%= chore.user.user_name %></a> is taking care of this</p>
              </li> 
            <% end %>
          <% end %>

        <!-- checks if user is an admin and gives them option to add new chores, otherwise displays current admin -->
        <% if current_user.id == group_admin_check.admin_id %>
          <div class="pull-left">
            <form class="inline-block" method="get" action="/chore/change">
              <button id="to-do-button" type="submit" class="btn">add a new chore</button>
            </form>

            <form class="inline-block" method="get" action="/user/change_admin">
              <button id="to-do-button" type="submit" class="btn">change admin</button>
            </form>
          </div>
        <% else %>
          <div style="padding-top: 10px;">
            <span id="admin-show-border">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
              <a style="color: #333a4b; " href="/user/<%= current_user.group.admin_id %>"><%= User.find_by(id: current_user.group.admin_id).user_name %></a> is your group admin
            </span>
          </div>
        <% end %>
      </div>

      <!-- displays completed chores -->
      <div class="col-md-5">
        <ul class="chore_list">
          <h3 style="text-decoration: underline;">Completed:</h3>
          <% @chores_completed.each do |chore| %>

            <li class="finished">
              <%= erb :"/main/partials/_add_comment_to_chore_complete", locals: {chore: chore} %>
              <span class="glyphicon glyphicon-user" style="color: green;" aria-hidden="true"></span>&nbsp;
              <a href="/user/<%= chore.user_id %>"><%= chore.user.user_name %></a> completed this on <%= chore.completed_at %>
            </li>
          <% end %>

          <!-- allows admin users to clear the list -->
          <% if current_user.id == group_admin_check.admin_id %>
            <form method="post" action="/chore/clear">
              <input type="hidden" name="_method" value="PUT">
              <button id="clear-chores-button" type="submit" class="btn">clear</button>
            </form>
          <% end %>
        </ul>
      </div>
    
      <!-- prompts the user to join or create a group if not already in a group-->
      <% else %>
        <div class="col-md-3 col-md-offset-2">
          <div>
            <h3>Create a group</h3>
            <form method="post" action="/group/create">
              <input type="text" name="group_name" placeholder="name your group">
              <input type="submit" value="Create">
            </form>
          </div>

          <h3>or</h3>

          <div>
            <h3>Join a group</h3>
            <form method="post" action="/group/join">
              <input type="hidden" name="_method" value="PUT">
              <input type="text" name="group_name" placeholder="join your friends">
              <input type="submit" value="Join"> 
            </form>
          </div>
        </div>

        <div class="col-md-3">
          <img src="../pictures/create_group_image.jpg">
        </div>  
      <% end %>

    </div>
  </div>
</div>  

<% if current_group_id %>
  <div class="supporting main-supporting">

    <!-- stats buttons -->
    <div class="row main-supporting-buttons">
      <div class="container">
        <div class="col-md-4">
          <h3 class="cursor" id="group-members-slidedown">groupies</h3>
        </div>
       
        <div class="col-md-4">
          <h3 class="cursor" id="chore-stats-slidedown">chore stats</h3>
        </div>
      </div>
   </div>

    <div class="row main-supporting-slidedown">
      <div class="container">

      <!-- stats slidedowns -->
        <div class="col-md-4">
          <div class="main-supporting-slidedowns">
            <div class="slide-styling" id="group-members-slide">
              <ul>
                <% User.where(group_id: current_user.group_id).each do |user| %>
                  <li>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                    <a href="/user/<%= user.id %>"><%= user.user_name %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <!-- chore stats slidedown -->
        <div class="col-md-4">
          <div class="main-supporting-slidedowns">
            <div class="slide-styling" id="chore-stats-slide">
              <ul>
                <li>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp; total chores done: <%= current_user.group.chores.count(completed: true) %>
                </li>
                <li>

                </li>
              </ul>
            </div>
          </div>
        </div> 

        <!-- filler picture -->
        <div class="col-md-4">
          <div style="text-align: center">
            <img src="../pictures/broom.png" id="broom">
            <p style="color: #F1F2F3; padding-top: 5px; font-size: 20px;">brooms, yeah!!!</p>
          </div>
        </div>

      </div>
    </div>  
   
  </div>
<% end %>