<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-3 col-centered">
        <ul class="chore_list">
          <!-- only displays chores if the user is in a group -->
          <% if current_group %>
            <h3>Today's Chores</h3>
            <% @chores.each do |chore| %>
              <!-- if the chore is completed it shows as crossed out -->
              <% if chore.completed == true %>
                <li class="finished">
                  <%= erb :"/main/partials/_add_comment_to_chore", locals: {chore: chore} %>
                </li>
                <li>Completed by <a href="/user/<%= chore.user_id %>"><%= chore.user.user_name %></a></li>

              <!-- if the chore is not assigned to a user, allow the user take responsibility for it -->
              <% elsif !chore.user_id %>
                <!-- dropdown menu for comments -->
                <li>
                  <%= erb :"/main/partials/_add_comment_to_chore", locals: {chore: chore} %>
                </li>¯
                <form method="post" action="/chore/add/<%= chore.id %>">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="submit" value="I will do this">
                </form>

              <!-- if current user is responsible for the chore they have the option of declaring it finished -->
              <% elsif chore.user_id == current_user.id %>
                <li>
                  <%= erb :"/main/partials/_add_comment_to_chore", locals: {chore: chore} %>
                </li>
                <form method="post" action="/chore/complete/<%= chore.id %>">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="submit" value="finished!">
                </form>

              <!-- if chore is assigned to another user, display which user has responsibility over it -->
              <% else %>
                <li>
                  <%= erb :"/main/partials/_add_comment_to_chore", locals: {chore: chore} %>
                </li>
                <li>Being done by <a href="/user/<%= chore.user_id %>"><%= chore.user.user_name %></a></li> 
              <% end %>
                
            <% end %>

            <% if current_user.id == group_admin_check.admin_id %>
            <form method="get" action="/chore/change">
              <input type="submit" class="btn btn-info" value="Add a new chore!">
            </form>
          <% end %>
          <!-- prompts the user to join or create a group -->
          <% else %>
            <h3>Create or join a group to start doing housework!</h3>
          <% end %>

          <!-- gives the admin user abiility to add more chores to the list -->
          

        </ul>
      </div>
    </div>
  </div>
</div>  

