<div class="main">  
  <div class="container">
    <div class="row" id="profileCard">
      
      <div class="col-md-4">
        <div class="profileDisplay"></div>
      </div>

      <div class="col-md-4">
        <p>Username: <%= @user.user_name %></p>
        <% if @user.real_name == nil || @user.real_name.strip.empty? %>
         	<p>Real Name: <strong><%= @user.user_name %> does not want to share their real name!</strong></p>
        <% else %>
          <p>Real Name: <%= @user.real_name %></p>
        <% end %>
        <p>Current Group: <%= @user.group.group_name%></p>
        <p>Chores Completed: <%= @user.chores.select {|chore| chore[:completed] == true}.size %></p>
        <p>Chore Score: <%= @user.total_score%></p>
      </div>

    </div>
  </div>
</div>